<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<div class="container">
  <div class="wrapper">
    <header>Login</header>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="field email">
        <div class="input-area">
          <input type="email" name="email" [(ngModel)]="email" placeholder="Email Address" required>
          <i class="icon fas fa-envelope"></i>
          <i class="error error-icon fas fa-exclamation-circle" *ngIf="loginForm.submitted && !email"></i>
        </div>
        <div class="error error-txt" *ngIf="loginForm.submitted && !email">Email can't be blank</div>
      </div>
      <div class="field password">
        <div class="input-area">
          <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
          <i class="icon fas fa-lock"></i>
          <i class="error error-icon fas fa-exclamation-circle" *ngIf="loginForm.submitted && !password"></i>
        </div>
        <div class="error error-txt" *ngIf="loginForm.submitted && !password">Password can't be blank</div>
      </div>
      <div class="pass-txt"><a href="#">Forgot password?</a></div>
      <input type="submit" value="Login" [disabled]="!loginForm.valid">
    </form>
    <div class="sign-txt">Not a member? <a href="http:/registration">register now</a></div>
  </div>
</div>