<div class="card">
	<div class="card-body">
	  <h4 class="mb-32">Timesheet Fill Up</h4>
	  <form>
		<mat-form-field class="w-100 fs-16" appearance="outline">
		  <mat-label>Date</mat-label>  
		  <input matInput type="date" placeholder="">
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
		  <mat-label>Project Name</mat-label>
		  <input matInput type="text" placeholder="Enter Project Name">
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
		  <mat-label>Module</mat-label>
		  <input matInput type="text" placeholder="Enter module name">
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
		  <mat-label>Task</mat-label>
		  <input matInput type="text" placeholder="Enter your task">
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
		  <mat-label>Task Description</mat-label>
		  <textarea matInput rows="4" placeholder="Write your Task Description " value=""></textarea>
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
			<input matInput type="text" placeholder="">
		  <mat-label>Type</mat-label>
		  
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
		  <mat-label>Start Time</mat-label>
		  <input matInput type="time" placeholder="Start Time">
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
		  <mat-label>End Time</mat-label>
		  <input matInput type="time" placeholder="End Time">
		</mat-form-field>
  
		<mat-form-field class="w-100 fs-16" appearance="outline">
			<mat-label>Total Hours</mat-label>
			<input matInput type="number" placeholder="End Time">
		  </mat-form-field>
  
		<button mat-button class="btn btn-info fw-normal"  type="submit">Submit</button>
	  </form>
	</div>
  </div>
  
  
  