.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
// .sidenav {
//   /* Example styles */
//   width: 250px;
//   background: #fff;
//   /* Ensure sidebar is not accidentally hidden or offscreen */
// }

// @media (max-width: 600px) {
//   .sidenav {
//     width: 100%;
//     /* Mobile-specific styles */
//   }
// }
// .sidenav {
//   width: 250px; /* Default width */
//   /* Ensure it's not hidden or off-screen */
// }

// @media (max-width: 600px) {
//   .sidenav {
//     width: 100%; /* Full width on small screens */
//   }
// }
