<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Project Creation</h4>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Project Name</mat-label>
        <input matInput type="text" placeholder="Enter Project Name">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Project Creation Date</mat-label>
        <input matInput type="date" placeholder="">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Assign To</mat-label>
        <input matInput type="text" placeholder="Enter Members Name">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Due Date</mat-label>
        <input matInput type="date" placeholder="">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Client Name</mat-label>
        <input matInput type="text" placeholder="Enter Client Name">
      </mat-form-field>

      

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Note</mat-label>
        <textarea matInput rows="3" placeholder="" value=""></textarea>
      </mat-form-field>

      <button mat-button class="btn btn-info fw-normal" type="submit" >Submit</button>
    </form>
  </div>
</div>


