<!-- Project Details -->
<mat-card class="w-100">
  <mat-card-content>
    <h4 class="mb-60">Project Details</h4>

    <div class="table-responsive">
      <table mat-table [dataSource]="projectData" class="mat-elevation-z8 w-100">

        <!-- Project Name Column -->
        <ng-container matColumnDef="projectName">
          <th mat-header-cell *matHeaderCellDef> Project Name </th>
          <td mat-cell *matCellDef="let element"> {{element.projectName}} </td>
        </ng-container>

        <!-- Project Creation Date Column -->
        <ng-container matColumnDef="projectCreationDate">
          <th mat-header-cell *matHeaderCellDef> Project Creation Date </th>
          <td mat-cell *matCellDef="let element"> {{element.projectCreationDate | date}} </td>
        </ng-container>

        <!-- Assign To Column -->
        <ng-container matColumnDef="assignTo">
          <th mat-header-cell *matHeaderCellDef> Assign To </th>
          <td mat-cell *matCellDef="let element"> {{element.assignTo}} </td>
        </ng-container>

        <!-- Due Date Column -->
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef> Due Date </th>
          <td mat-cell *matCellDef="let element"> {{element.dueDate | date}} </td>
        </ng-container>

        <!-- Client Name Column -->
        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef> Client Name </th>
          <td mat-cell *matCellDef="let element"> {{element.clientName}} </td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef> Note </th>
          <td mat-cell *matCellDef="let element"> {{element.note}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
