body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 2px;
    width: 100%;
    max-width: 400px;
    border: 2px solid black;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    padding-right: 40px; /* Space for the icon */
    border: 1px solid #303030;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding in the width */
}

.eye-icon {
    position: absolute;
    right: 10px; /* Adjust to fit your design */
    top: 50%;
    margin-top: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #444242; /* Icon color */
    font-size: 24px; /* Icon size */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #03c9d7;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

input[type="password"]:focus {
    outline: none; /* Remove default outline */
    //border: 1px solid #03c9d7; /* Custom border color on focus */
}
