<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <div class="container">
        <h2>Change Password</h2>
        <form (ngSubmit)="onChangePassword()" #passwordForm="ngForm">
            <div class="form-group">
                <label for="current-password">Current Password</label>
                <input [type]="isCurrentPasswordVisible ? 'text' : 'password'"
                       id="current-password"
                       name="current-password"
                       [(ngModel)]="currentPassword"
                       required>
                <span class="material-icons eye-icon" (click)="togglePasswordVisibility('current')">
                    {{ isCurrentPasswordVisible ? 'visibility_off' : 'visibility' }}
                </span>
            </div>
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input [type]="isNewPasswordVisible ? 'text' : 'password'"
                       id="new-password"
                       name="new-password"
                       [(ngModel)]="newPassword"
                       required>
                <span class="material-icons eye-icon" (click)="togglePasswordVisibility('new')">
                    {{ isNewPasswordVisible ? 'visibility_off' : 'visibility' }}
                </span>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <input [type]="isConfirmPasswordVisible ? 'text' : 'password'"
                       id="confirm-password"
                       name="confirm-password"
                       [(ngModel)]="confirmPassword"
                       required>
                <span class="material-icons eye-icon" (click)="togglePasswordVisibility('confirm')">
                    {{ isConfirmPasswordVisible ? 'visibility_off' : 'visibility' }}
                </span>
            </div>
            <button type="submit">Change Password</button><br><br>
            <!-- <button type="button">Back</button> -->
        </form>
    </div>
</body>
</html>
