<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Project Module Creation</h4>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Project Name</mat-label>
        <input matInput type="text" placeholder="Enter Project Name">
      </mat-form-field>

      <!-- <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Project Creation Date</mat-label>
        <input matInput type="date" placeholder="">
      </mat-form-field> -->


      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Assign To</mat-label>
        <input matInput type="text" placeholder="Enter Members Name">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Module Name</mat-label>
        <input matInput type="text" placeholder="Enter Module Name">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Module Descripition</mat-label>
        <textarea matInput rows="4" placeholder="Enter Module Descripition " value=""></textarea>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Start Date</mat-label>
        <input matInput type="date">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Due Date</mat-label>
        <input matInput type="date" id="Start">
      </mat-form-field>

      <button mat-button class="btn btn-info fw-normal" type="submit" >Submit</button>
    </form>
  </div>
</div>


