.demo-chip-list {
  width: 100%;
}
button{
  background-color:#03c9d7;
  
}
.form-row {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
  gap: 16px; /* Adjust the gap between fields */
 // margin-bottom: 10px; /* Space below each row */
}

.form-field {
  flex: 1 1 calc(50% - 16px); /* Flex-grow and flex-basis to control the width */
}

@media (max-width: 768px) {
  .form-field {
    flex: 1 1 100%; /* Full width on smaller screens */
  }
}
.success-message {
  color: rgb(233, 0, 0);
  font-weight: bold;
  margin-bottom: 16px;
}
