 <div class="card">
  <div class="card-body">
    <h4 class="mb-32">Project Creation</h4>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <mat-form-field class="form-field w-100 fs-16" appearance="outline">
          <mat-label>Project Name</mat-label>
          <input matInput formControlName="projectName" placeholder="Enter Project Name">
          <mat-error *ngIf="projectForm.get('projectName')?.hasError('required') && (projectForm.get('projectName')?.dirty || projectForm.get('projectName')?.touched)">
        
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field w-100 fs-16" appearance="outline">
          <mat-label>Project Creation Date</mat-label>
          <input matInput formControlName="projectCreationDate" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="projectForm.get('projectCreationDate')?.hasError('required') && (projectForm.get('projectCreationDate')?.dirty || projectForm.get('projectCreationDate')?.touched)">
           
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field w-100 fs-16" appearance="outline">
          <mat-label>Assign To</mat-label>
          <input matInput formControlName="assignTo" placeholder="Enter Members Name">
        </mat-form-field>
     
      <mat-form-field class="form-field w-100 fs-16" appearance="outline">
        <mat-label>Due Date</mat-label>
        <input matInput [matDatepicker]="dueDatePicker" formControlName="dueDate" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #dueDatePicker></mat-datepicker>
        <mat-error *ngIf="projectForm.get('dueDate')?.hasError('required') && (projectForm.get('dueDate')?.dirty || projectForm.get('dueDate')?.touched)">
        </mat-error>
      </mat-form-field>
      
 </div>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Client Name</mat-label>
        <input matInput formControlName="clientName" placeholder="Enter Client Name">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Note</mat-label>
        <textarea matInput formControlName="note"placeholder=""></textarea>
      </mat-form-field>

      <button mat-button class="btn btn-info fw-normal" type="submit">Submit</button>
    </form>
  </div>
</div> 

 